button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add {
  float: right;
  background-color: royalblue;
  color: white;
  padding: 8px 17.5px 8px 17.5px;
}

.edit {
  width: 70px;
  height: 25px;
  background-color: royalblue;
  color: white;
}

.delete {
  width: 70px;
  height: 25px;
  background-color: crimson;
  color: white;
  padding: 5px 10px 5px 10px;
}

.submit, .confirm {
  border: 1.5px royalblue solid;
  background-color: royalblue;
  color: white;
  padding: 8px 17.5px 8px 17.5px;
}

.add:hover, .edit:hover, .submit:hover, .confirm:hover {
  background-color: rgb(95, 133, 247);
}

.delete:hover {
  background-color: rgb(243, 49, 87);
}

.submit:disabled, .confirm:disabled {
  border: 1.5px #999999;
  background-color: #999999;
}

.cancel {
  border: 1.5px royalblue solid;
  background-color: white;
  color: royalblue;
  padding: 8px 17.5px 8px 17.5px;
}